@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-grid {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-list {
    margin-top: 2rem;
  }
  #profile {
    display: block;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-grid {
    margin-top: 0;
  }

  #projects .projects-grid {
     grid-template-columns: 1fr;
     gap: 2rem;
  }

}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-grid,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: 55vw; /* Changed width to match height */
    height: 55vw;
    justify-content: center;
    margin: 0 auto 1rem; /* Adjusted margin for smaller screens */
  }
  .title {
    font-size: 2rem;
  }

  #projects .projects-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #projects .project-card {
      width: 100%;
      max-width: none;
      margin: 0 auto;
  }
}

@media screen and (max-width: 850px) {
  .experience-list {
    max-width: 90%;
  }
}